In [1]:
import pandas as pd

dataset = pd.read_csv("state.csv")
dataset = dataset.sort_values(by=['Murder.Rate'])
dataset.head() #in ra các bản ghi đầu tiên

            State  Population  Murder.Rate Abbreviation
28  New Hampshire     1316470          0.9           NH
22      Minnesota     5303925          1.6           MN
18          Maine     1328361          1.6           ME
44        Vermont      625741          1.6           VT
10         Hawaii     1360301          1.8           HI

In [3]:
rows = dataset.shape[0] #xem số lượng dòng(bang)
mean = 0
for i in range(0, rows):
    mean = mean + dataset.loc[i][2] #chọn hàng i cột 2 (cột tỷ lệ giết người)
mean = mean / rows
print("Mean: ", mean)

Mean:  4.066

In [4]:
p = int(rows / 10)
trimmed_mean = 0
for i in range(p, rows - p):
    trimmed_mean = trimmed_mean + dataset.loc[i][2]
trimmed_mean = trimmed_mean / (rows - 2 * p)
print("Trimmed_mean: ", trimmed_mean)

Trimmed_mean:  4.027500000000001

In [5]:
weighted_mean = 0
sum_weigth = 0
for i in range(0, rows):
    weighted_mean = weighted_mean + dataset.loc[i][2] * dataset.loc[i][1] #dân số nhân tỉ lệ giết người
    sum_weigth = sum_weigth + dataset.loc[i][1] #tổng dân số các bang
weighted_mean = weighted_mean / sum_weigth
print("Weighted_mean: ", weighted_mean)

Weighted_mean:  4.445833981123394

In [6]:
median = dataset.loc[int(rows / 2)][2]# chọn giá trị ở giữa danh sách
print("Median: ", median)

Median:  3.6

In [7]:
import math

# mean population
mean_population = 0
for i in range(0, rows):
    mean_population = mean_population + dataset.loc[i][1]
mean_population = mean_population / rows #tính giá trị trung bình dân số mỗi bang

In [8]:
sd = 0
for i in range(0, rows):
    sd = sd + (mean_population - dataset.loc[i][1]) ** 2 #tính phương sai
sd = math.sqrt(sd / (rows - 1))
print("Standar deviation: ", sd)

Standar deviation:  6848235.347401142

In [9]:
mad = 0
for i in range(0, rows):
    mad = mad + abs(mean_population - dataset.loc[i][1])
mad = mad / (rows - 1)# tính trung vị của độ lệch tuyệt đối so với trung vị
print("MAD: ", mad)

MAD:  4541768.730612245

In [12]:
# sap xep
df_population = dataset.sort_values(by=['Population'])
df_population = df_population.reset_index(drop=True) #đặt lại chỉ mục
df_population.head(6) #in ra 6 bản ghi đầu tiên

          State  Population  Murder.Rate Abbreviation
0       Wyoming      563626          2.7           WY
1       Vermont      625741          1.6           VT
2  North Dakota      672591          3.0           ND
3        Alaska      710231          5.6           AK
4  South Dakota      814180          2.3           SD
5      Delaware      897934          5.8           DE

In [14]:
n = 10
d = (df_population.loc[rows - 1][1] - df_population.loc[0][1]) / n - 1
print(d)

3669032.0